<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#The-dataset" data-toc-modified-id="The-dataset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>The dataset</a></span><ul class="toc-item"><li><span><a href="#Research-the-variables" data-toc-modified-id="Research-the-variables-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Research the variables</a></span></li><li><span><a href="#Describe-the-panel" data-toc-modified-id="Describe-the-panel-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Describe the panel</a></span></li><li><span><a href="#Making-the-data-easy-to-work-with" data-toc-modified-id="Making-the-data-easy-to-work-with-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Making the data easy to work with</a></span></li></ul></li><li><span><a href="#Develop-function-for-slicing-the-data-by-time-period" data-toc-modified-id="Develop-function-for-slicing-the-data-by-time-period-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Develop function for slicing the data by time period</a></span></li><li><span><a href="#Create-unit-test-for-expected-behavior" data-toc-modified-id="Create-unit-test-for-expected-behavior-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create unit test for expected behavior</a></span><ul class="toc-item"><li><span><a href="#Create-input-data-for-testing,-df_in" data-toc-modified-id="Create-input-data-for-testing,-df_in-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Create input data for testing, <code>df_in</code></a></span><ul class="toc-item"><li><span><a href="#Generate-the-subset-to-be-used-as-df_in" data-toc-modified-id="Generate-the-subset-to-be-used-as-df_in-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Generate the subset to be used as <code>df_in</code></a></span></li><li><span><a href="#Print-the-values" data-toc-modified-id="Print-the-values-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Print the values</a></span></li><li><span><a href="#Print-the-index" data-toc-modified-id="Print-the-index-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>Print the index</a></span></li><li><span><a href="#Print-the-column-names" data-toc-modified-id="Print-the-column-names-3.1.4"><span class="toc-item-num">3.1.4&nbsp;&nbsp;</span>Print the column names</a></span></li><li><span><a href="#Print-the-column-and-index-names" data-toc-modified-id="Print-the-column-and-index-names-3.1.5"><span class="toc-item-num">3.1.5&nbsp;&nbsp;</span>Print the column and index names</a></span></li><li><span><a href="#Copy-and-paste-the-data-and-create-your-input-dataframe" data-toc-modified-id="Copy-and-paste-the-data-and-create-your-input-dataframe-3.1.6"><span class="toc-item-num">3.1.6&nbsp;&nbsp;</span>Copy and paste the data and create your input dataframe</a></span></li><li><span><a href="#Check-that-you-replicated-the-data-correctly" data-toc-modified-id="Check-that-you-replicated-the-data-correctly-3.1.7"><span class="toc-item-num">3.1.7&nbsp;&nbsp;</span>Check that you replicated the data correctly</a></span></li></ul></li><li><span><a href="#Create-expected-output,-df_true" data-toc-modified-id="Create-expected-output,-df_true-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Create expected output, <code>df_true</code></a></span><ul class="toc-item"><li><span><a href="#Print-values" data-toc-modified-id="Print-values-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Print values</a></span></li><li><span><a href="#Print-index" data-toc-modified-id="Print-index-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Print index</a></span></li><li><span><a href="#Print-columns" data-toc-modified-id="Print-columns-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>Print columns</a></span></li><li><span><a href="#Print-columns-and-index-name" data-toc-modified-id="Print-columns-and-index-name-3.2.4"><span class="toc-item-num">3.2.4&nbsp;&nbsp;</span>Print columns and index name</a></span></li><li><span><a href="#Copy-and-paste-to-create-df_true" data-toc-modified-id="Copy-and-paste-to-create-df_true-3.2.5"><span class="toc-item-num">3.2.5&nbsp;&nbsp;</span>Copy and paste to create <code>df_true</code></a></span></li><li><span><a href="#Check-that-you-replicated-the-data-correctly" data-toc-modified-id="Check-that-you-replicated-the-data-correctly-3.2.6"><span class="toc-item-num">3.2.6&nbsp;&nbsp;</span>Check that you replicated the data correctly</a></span></li></ul></li><li><span><a href="#Create-test" data-toc-modified-id="Create-test-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Create test</a></span></li><li><span><a href="#Check-test" data-toc-modified-id="Check-test-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Check test</a></span></li></ul></li><li><span><a href="#Create-test-where-time-slice-does-not-exist" data-toc-modified-id="Create-test-where-time-slice-does-not-exist-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Create test where time slice does not exist</a></span><ul class="toc-item"><li><span><a href="#Create-expected-output,-df_true" data-toc-modified-id="Create-expected-output,-df_true-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Create expected output, df_true</a></span><ul class="toc-item"><li><span><a href="#Print-values" data-toc-modified-id="Print-values-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>Print values</a></span></li><li><span><a href="#Print-index" data-toc-modified-id="Print-index-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>Print index</a></span></li><li><span><a href="#Print-column-names" data-toc-modified-id="Print-column-names-4.1.3"><span class="toc-item-num">4.1.3&nbsp;&nbsp;</span>Print column names</a></span></li><li><span><a href="#Print-column-and-index-names" data-toc-modified-id="Print-column-and-index-names-4.1.4"><span class="toc-item-num">4.1.4&nbsp;&nbsp;</span>Print column and index names</a></span></li><li><span><a href="#Copy-and-paste-to-create-df_true" data-toc-modified-id="Copy-and-paste-to-create-df_true-4.1.5"><span class="toc-item-num">4.1.5&nbsp;&nbsp;</span>Copy and paste to create <code>df_true</code></a></span></li><li><span><a href="#Check-that-you-replicated-the-data-correctly" data-toc-modified-id="Check-that-you-replicated-the-data-correctly-4.1.6"><span class="toc-item-num">4.1.6&nbsp;&nbsp;</span>Check that you replicated the data correctly</a></span></li></ul></li><li><span><a href="#Create-test" data-toc-modified-id="Create-test-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Create test</a></span></li><li><span><a href="#Check-test" data-toc-modified-id="Check-test-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Check test</a></span></li></ul></li><li><span><a href="#Create-unit-test-for-when-dataframe-is-not-provided" data-toc-modified-id="Create-unit-test-for-when-dataframe-is-not-provided-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Create unit test for when dataframe is not provided</a></span><ul class="toc-item"><li><span><a href="#Check-test" data-toc-modified-id="Check-test-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Check test</a></span></li></ul></li><li><span><a href="#Now-move-your-function-and-your-tests-to-appropriate-Python-modules" data-toc-modified-id="Now-move-your-function-and-your-tests-to-appropriate-Python-modules-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Now move your function and your tests to appropriate Python modules</a></span></li></ul></div>

In [1]:
import os 
import sys
import datetime


import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import pytest

In [2]:
# Create helper functions for specifying paths and appending
# directories with relevant python source code - for use within 
# Jupyter Notebooks in notebooks/ directory only.

# This is a lot at the top of your notebook but if you get the jupyter
# extension for collapsing headings, you can always have this and the
# imports collapsed

root_dir = os.curdir
max_nest = 10  # arbitrary, 3 would probably suffice
nest = 0
while "src" not in os.listdir(root_dir) and nest < max_nest:
    # Look up the directory structure for a src directory
    root_dir = os.path.join(os.pardir, root_dir)
    nest += 1

# If you don't find the src directory, the root directory is this directory
root_dir = os.path.abspath(root_dir) if nest < max_nest else os.path.abspath(
    os.curdir)

# Get the source directory and append path to access
# python packages/scripts within directory
if "src" in os.listdir(root_dir):
    src_dir = os.path.join(root_dir, "src")
    sys.path.append(src_dir)

# If data or figures directory don't exist in project directory,
# they will be saved to this directory
data_dir = os.path.join(
    root_dir, "data") if "data" in os.listdir(root_dir) else os.curdir
figure_dir = os.path.join(
    root_dir,
    "figures") if "figures" in os.listdir(root_dir) else os.curdir
models_dir = os.path.join(
    root_dir,
    "models") if "models" in os.listdir(root_dir) else os.curdir

# Prepends the directory path for specifying paths to data or figures
# dataplus("data.csv") -> "/Users/cmawer/project/data/data.csv"
# figplus("cool.png") -> "/Users/cmawer/project/figures/cool.png"
dataplus = lambda x: os.path.join(data_dir, x)
figplus = lambda x: os.path.join(figure_dir, x)
modelsplus = lambda x: os.path.join(models_dir, x)

# Prepends the date to a string (e.g. to save dated files)
# dateplus("cool-figure.png") -> "2018-12-05-cool-figure.png"
now = datetime.datetime.now().strftime("%Y-%m-%d")
dateplus = lambda x: "%s-%s" % (now, x)

# The dataset

<img src="" alt="FAO" width="290" align="right">

We will be using the [Food and Agriculture Organization](http://www.fao.org) (FAO) of the United Nation's AQUASTAT dataset. 

From FAO: 

FAO's three main goals are:
1. The eradication of hunger, food insecurity and malnutrition
2. The elimination of poverty and the driving forward of economic and social progress for all
3. The sustainable management and utilization of natural resources, including land, water, air, climate and genetic resources for the benefit of present and future generations. 

To support these goals, Article 1 of its constitution requires FAO to "collect, analyse, interpret and disseminate information related to nutrition, food and agriculture". Thus AQUASTAT started, with the aim to contribute to FAO's goals through the collection, analysis and dissemination of information related to water resources, water uses and agricultural water management, with an emphasis on countries in Africa, Asia, Latin America, and the Caribbean.

FAO offers data, metadata, reports, country profiles, river basin profiles, regional analyses, maps, tables, spatial data, guidelines, and other tools on:
* Water resources: internal, transboundary, total
* Water uses: by sector, by source, wastewater
* Irrigation: location, area, typology, technology, crops
* Dams: location, height, capacity, surface area
* Water-related institutions, policies and legistation

http://www.fao.org/nr/water/aquastat/data/query/index.html

In [3]:
data = pd.read_csv(dataplus('aquastat.csv.gzip'), compression='gzip')

In [4]:
data.head()

,country,region,variable,variable_full,time_period,year_measured,value
0,Afghanistan,World | Asia,total_area,Total area of the country (1000 ha),1958-1962,1962.0,65286.0
1,Afghanistan,World | Asia,total_area,Total area of the country (1000 ha),1963-1967,1967.0,65286.0
2,Afghanistan,World | Asia,total_area,Total area of the country (1000 ha),1968-1972,1972.0,65286.0
3,Afghanistan,World | Asia,total_area,Total area of the country (1000 ha),1973-1977,1977.0,65286.0
4,Afghanistan,World | Asia,total_area,Total area of the country (1000 ha),1978-1982,1982.0,65286.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143280 entries, 0 to 143279
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   country        143280 non-null  object
 1   region         143280 non-null  object
 2   variable       143280 non-null  object
 3   variable_full  143280 non-null  object
 4   time_period    143280 non-null  object
 5   year_measured  96411 non-null   float64
 6   value          96411 non-null   float64
dtypes: float64(2), object(5)
memory usage: 7.7+ MB

## Research the variables

In [6]:
data[['variable','variable_full']].drop_duplicates()

,variable,variable_full
0,total_area,Total area of the country (1000 ha)
576,arable_land,Arable land area (1000 ha)
1152,permanent_crop_area,Permanent crops area (1000 ha)
1728,cultivated_area,Cultivated area (arable land + permanent crops...
2304,percent_cultivated,% of total country area cultivated (%)
2880,total_pop,Total population (1000 inhab)
3456,rural_pop,Rural population (1000 inhab)
4032,urban_pop,Urban population (1000 inhab)
4608,gdp,Gross Domestic Product (GDP) (current US$)
5184,gdp_per_capita,GDP per capita (current US$/inhab)
5760,agg_to_gdp,"Agriculture, value added to GDP (%)"
6336,human_dev_index,Human Development Index (HDI) [highest = 1] (-)
6912,gender_inequal_index,Gender Inequality Index (GII) [equality = 0; i...
7488,percent_undernourished,Prevalence of undernourishment (3-year average...
8064,number_undernourished,Number of people undernourished (3-year averag...
8640,avg_annual_rain_depth,Long-term average annual precipitation in dept...
9216,avg_annual_rain_vol,Long-term average annual precipitation in volu...
9792,national_rainfall_index,National Rainfall Index (NRI) (mm/year)
10368,surface_water_produced,Surface water produced internally (10^9 m3/year)
10944,groundwater_produced,Groundwater produced internally (10^9 m3/year)
11520,surface_groundwater_overlap,Overlap between surface water and groundwater ...
12096,irwr,Total internal renewable water resources (IRWR...
12672,irwr_per_capita,Total internal renewable water resources per c...
13248,surface_entering,Surface water: entering the country (total) (1...
13824,surface_inflow_submit_no_treaty,Surface water: inflow not submitted to treatie...
14400,surface_inflow_submit_treaty,Surface water: inflow submitted to treaties (1...
14976,surface_inflow_secure_treaty,Surface water: inflow secured through treaties...
15552,total_flow_border_rivers,Surface water: total flow of border rivers (10...
16128,accounted_flow_border_rivers,Surface water: accounted flow of border rivers...
16704,accounted_flow,Surface water: accounted inflow (10^9 m3/year)
17280,surface_to_other_countries,Surface water: leaving the country to other co...
17856,surface_outflow_submit_no_treaty,Surface water: outflow to other countries not ...
18432,surface_outflow_submit_treaty,Surface water: outflow to other countries subm...
19008,surface_outflow_secure_treaty,Surface water: outflow to other countries secu...
19584,surface_total_external_renewable,Surface water: total external renewable (10^9 ...
20160,groundwater_entering,Groundwater: entering the country (total) (10^...
20736,groundwater_accounted_inflow,Groundwater: accounted inflow (10^9 m3/year)
21312,groundwater_to_other_countries,Groundwater: leaving the country to other coun...
21888,groundwater_accounted_outflow,Groundwater: accounted outflow to other countr...
22464,water_total_external_renewable,Water resources: total external renewable (10^...
23040,total_renewable_surface,Total renewable surface water (10^9 m3/year)
23616,total_renewable_groundwater,Total renewable groundwater (10^9 m3/year)
24192,overlap_surface_groundwater,Overlap: between surface water and groundwater...
24768,total_renewable,Total renewable water resources (10^9 m3/year)
25344,dependency_ratio,Dependency ratio (%)
25920,total_renewable_per_capita,Total renewable water resources per capita (m3...
26496,exploitable_regular_renewable_surface,Exploitable: regular renewable surface water (...
27072,exploitable_irregular_renewable_surface,Exploitable: irregular renewable surface water...
27648,exploitable_total_renewable_surface,Exploitable: total renewable surface water (10...
28224,exploitable_regular_renewable_groundwater,Exploitable: regular renewable groundwater (10...
28800,exploitable_total,Total exploitable water resources (10^9 m3/year)
29376,interannual_variability,Interannual variability (WRI) (-)
29952,seasonal_variability,Seasonal variability (WRI) (-)
30528,total_dam_capacity,Total dam capacity (km3)
31104,dam_capacity_per_capita,Dam capacity per capita (m3/inhab)
31680,irrigation_potential,Irrigation potential (1000 ha)
32256,flood_occurence,Flood occurrence (WRI) (-)
32832,total_pop_access_drinking,Total population with access to safe drinking-...
33408,rural_pop_access_drinking,Rural population with access to safe drinking-...
33984,urban_pop_access_drinking,Urban population with access to safe drinking-...

## Describe the panel

In [7]:
data.country.nunique()

199

199 unique countries involved

In [8]:
countries = data.country.unique()

In [9]:
data.time_period.nunique()

12

For 12 time periods

In [10]:
time_periods = data.time_period.unique()
print(time_periods)

['1958-1962' '1963-1967' '1968-1972' '1973-1977' '1978-1982' '1983-1987'
 '1988-1992' '1993-1997' '1998-2002' '2003-2007' '2008-2012' '2013-2017']

## Making the data easy to work with

**Make your data [tidy](https://tomaugspurger.github.io/modern-5-tidy.html)**
1. Each variable forms a column
2. Each observation forms a row
3. Each type of observational unit forms a table

**Ways to look at this data**

We can look at this data set in a number of ways: 
* Cross-section: all countries during a single time period
* Time-series: a single country over time 
* Panel data: all countries over time (as data is given)
* Geospatial: all countries in geographical relation to each other

This notebook will focus on creating unit tests for the function that will create cross-sections of the data for a single time period.

# Develop function for slicing the data by time period

In [11]:
def slice_by_time(df, time_period):
    """For a `time_period`, creates a dataframe with a row for each country and a column for each AQUASTAT variable.

    Args:
        df: :obj:`pandas.DataFrame` with the columns, `country`, `variable`, `value`, and `time period`
        time_period: time period for filtering the data set and pivoting

    Returns:
        df (:obj:`pandas.DataFrame`): Pivoted dataframe

    """
    if not isinstance(df, pd.DataFrame):
        raise TypeError("Provided argument `df` is not a Panda's DataFrame object")
        
    # Only take data for time period of interest
    df = df[df.time_period == time_period]

    # Pivot table
    df = df.pivot(index='country', columns='variable', values='value')

    df.columns.name = time_period

    return df

In [12]:
ts = slice_by_time(data, time_periods[0])

In [13]:
ts.head()

1958-1962,accounted_flow,accounted_flow_border_rivers,agg_to_gdp,arable_land,avg_annual_rain_depth,avg_annual_rain_vol,cultivated_area,dam_capacity_per_capita,dependency_ratio,exploitable_irregular_renewable_surface,...,total_flow_border_rivers,total_pop,total_pop_access_drinking,total_renewable,total_renewable_groundwater,total_renewable_per_capita,total_renewable_surface,urban_pop,urban_pop_access_drinking,water_total_external_renewable
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,19.00,9.0,NaN,7700.0,327.0,213.5000,7760.0,128.40,28.7200,NaN,...,33.4,9344.00,NaN,65.3300,10.650,6992.0,55.68,804.90,NaN,18.18
Albania,3.30,0.0,NaN,436.0,1485.0,42.6900,487.0,NaN,10.9300,NaN,...,0.0,1738.00,NaN,30.2000,6.200,17376.0,26.35,533.20,NaN,3.30
Algeria,0.39,0.0,NaN,6300.0,89.0,212.0000,6900.0,89.99,3.5990,5.0,...,0.0,11690.00,NaN,11.6700,1.517,998.3,10.15,3934.00,NaN,0.42
Andorra,NaN,NaN,NaN,1.0,NaN,0.4724,1.0,NaN,NaN,NaN,...,NaN,15.38,NaN,0.3156,NaN,20520.0,NaN,9.76,NaN,NaN
Angola,0.40,0.0,NaN,2700.0,1010.0,1259.0000,3200.0,25.96,0.2695,NaN,...,0.0,5466.00,NaN,148.4000,58.000,27150.0,145.40,577.00,NaN,0.40

# Create unit test for expected behavior

## Create input data for testing, `df_in`

### Generate the subset to be used as `df_in`

We don't need to recreate the entire dataframe we are using here but we do need to make sure it contains enough dimensions of the data (e.g. more than one country, more than one variable, more than one time period) such that the entire functionality of the function can be tested.

In [14]:
data_subset = data[(data.country.isin(['Indonesia', 'United Kingdom'])) & (
    data.variable.isin(['total_pop', 'rural_pop', 'gdp', 'urban_pop'])) &
                   (data.time_period.isin(['1958-1962', '1963-1967']))]

In [15]:
data_subset

,country,region,variable,variable_full,time_period,year_measured,value
3024,Indonesia,World | Asia,total_pop,Total population (1000 inhab),1958-1962,1962.0,9.255800e+04
3025,Indonesia,World | Asia,total_pop,Total population (1000 inhab),1963-1967,1967.0,1.059070e+05
3600,Indonesia,World | Asia,rural_pop,Rural population (1000 inhab),1958-1962,1962.0,7.853800e+04
3601,Indonesia,World | Asia,rural_pop,Rural population (1000 inhab),1963-1967,1967.0,8.870100e+04
4176,Indonesia,World | Asia,urban_pop,Urban population (1000 inhab),1958-1962,1962.0,1.402000e+04
4177,Indonesia,World | Asia,urban_pop,Urban population (1000 inhab),1963-1967,1967.0,1.720600e+04
4752,Indonesia,World | Asia,gdp,Gross Domestic Product (GDP) (current US$),1958-1962,NaN,NaN
4753,Indonesia,World | Asia,gdp,Gross Domestic Product (GDP) (current US$),1963-1967,1967.0,5.980840e+09
102900,United Kingdom,World | Europe,total_pop,Total population (1000 inhab),1958-1962,1962.0,5.314700e+04
102901,United Kingdom,World | Europe,total_pop,Total population (1000 inhab),1963-1967,1967.0,5.490500e+04
103644,United Kingdom,World | Europe,rural_pop,Rural population (1000 inhab),1958-1962,1962.0,1.147400e+04
103645,United Kingdom,World | Europe,rural_pop,Rural population (1000 inhab),1963-1967,1967.0,1.229300e+04
104388,United Kingdom,World | Europe,urban_pop,Urban population (1000 inhab),1958-1962,1962.0,4.167300e+04
104389,United Kingdom,World | Europe,urban_pop,Urban population (1000 inhab),1963-1967,1967.0,4.261200e+04
105132,United Kingdom,World | Europe,gdp,Gross Domestic Product (GDP) (current US$),1958-1962,1962.0,8.060194e+10
105133,United Kingdom,World | Europe,gdp,Gross Domestic Product (GDP) (current US$),1963-1967,1967.0,1.110000e+11

### Print the values

To create an input dataframe within a unit test, we need to explicitly provide the following: 
* Data values
* Column names
* Indices
* Name of columns array (if applicable)
* Name of index (if applicable)

To do this, we print each object and then copy and paste into the dataframe definition of `df_in`.

In [16]:
data_subset.values

array([['Indonesia', 'World | Asia', 'total_pop',
        'Total population (1000 inhab)', '1958-1962', 1962.0, 92558.0],
       ['Indonesia', 'World | Asia', 'total_pop',
        'Total population (1000 inhab)', '1963-1967', 1967.0, 105907.0],
       ['Indonesia', 'World | Asia', 'rural_pop',
        'Rural population (1000 inhab)', '1958-1962', 1962.0, 78538.0],
       ['Indonesia', 'World | Asia', 'rural_pop',
        'Rural population (1000 inhab)', '1963-1967', 1967.0, 88701.0],
       ['Indonesia', 'World | Asia', 'urban_pop',
        'Urban population (1000 inhab)', '1958-1962', 1962.0, 14020.0],
       ['Indonesia', 'World | Asia', 'urban_pop',
        'Urban population (1000 inhab)', '1963-1967', 1967.0, 17206.0],
       ['Indonesia', 'World | Asia', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1958-1962', nan,
        nan],
       ['Indonesia', 'World | Asia', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1963-1967',
        1967.0, 5980840376.0],
       ['United Kingdom', 'World | Europe', 'total_pop',
        'Total population (1000 inhab)', '1958-1962', 1962.0, 53147.0],
       ['United Kingdom', 'World | Europe', 'total_pop',
        'Total population (1000 inhab)', '1963-1967', 1967.0, 54905.0],
       ['United Kingdom', 'World | Europe', 'rural_pop',
        'Rural population (1000 inhab)', '1958-1962', 1962.0, 11474.0],
       ['United Kingdom', 'World | Europe', 'rural_pop',
        'Rural population (1000 inhab)', '1963-1967', 1967.0, 12293.0],
       ['United Kingdom', 'World | Europe', 'urban_pop',
        'Urban population (1000 inhab)', '1958-1962', 1962.0, 41673.0],
       ['United Kingdom', 'World | Europe', 'urban_pop',
        'Urban population (1000 inhab)', '1963-1967', 1967.0, 42612.0],
       ['United Kingdom', 'World | Europe', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1958-1962',
        1962.0, 80601939635.0],
       ['United Kingdom', 'World | Europe', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1963-1967',
        1967.0, 111000000000.0]], dtype=object)

### Print the index

In [17]:
data_subset.index

Int64Index([  3024,   3025,   3600,   3601,   4176,   4177,   4752,   4753,
            102900, 102901, 103644, 103645, 104388, 104389, 105132, 105133],
           dtype='int64')

### Print the column names

In [18]:
data_subset.columns

Index(['country', 'region', 'variable', 'variable_full', 'time_period',
       'year_measured', 'value'],
      dtype='object')

### Print the column and index names

In [19]:
data_subset.index.name

In [20]:
data_subset.columns.name

Dataframe does not have named index or columns so do not need to provide.

### Copy and paste the data and create your input dataframe

Replace any 'nan' values with `np.nan`

In [21]:
df_in_values = [['Indonesia', 'World | Asia', 'total_pop',
        'Total population (1000 inhab)', '1958-1962', 1962.0, 92558.0],
       ['Indonesia', 'World | Asia', 'total_pop',
        'Total population (1000 inhab)', '1963-1967', 1967.0, 105907.0],
       ['Indonesia', 'World | Asia', 'rural_pop',
        'Rural population (1000 inhab)', '1958-1962', 1962.0, 78538.0],
       ['Indonesia', 'World | Asia', 'rural_pop',
        'Rural population (1000 inhab)', '1963-1967', 1967.0, 88701.0],
       ['Indonesia', 'World | Asia', 'urban_pop',
        'Urban population (1000 inhab)', '1958-1962', 1962.0, 14020.0],
       ['Indonesia', 'World | Asia', 'urban_pop',
        'Urban population (1000 inhab)', '1963-1967', 1967.0, 17206.0],
       ['Indonesia', 'World | Asia', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1958-1962', np.nan,
        np.nan],
       ['Indonesia', 'World | Asia', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1963-1967',
        1967.0, 5980840376.0],
       ['United Kingdom', 'World | Europe', 'total_pop',
        'Total population (1000 inhab)', '1958-1962', 1962.0, 53147.0],
       ['United Kingdom', 'World | Europe', 'total_pop',
        'Total population (1000 inhab)', '1963-1967', 1967.0, 54905.0],
       ['United Kingdom', 'World | Europe', 'rural_pop',
        'Rural population (1000 inhab)', '1958-1962', 1962.0, 11474.0],
       ['United Kingdom', 'World | Europe', 'rural_pop',
        'Rural population (1000 inhab)', '1963-1967', 1967.0, 12293.0],
       ['United Kingdom', 'World | Europe', 'urban_pop',
        'Urban population (1000 inhab)', '1958-1962', 1962.0, 41673.0],
       ['United Kingdom', 'World | Europe', 'urban_pop',
        'Urban population (1000 inhab)', '1963-1967', 1967.0, 42612.0],
       ['United Kingdom', 'World | Europe', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1958-1962',
        1962.0, 80601939635.0],
       ['United Kingdom', 'World | Europe', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1963-1967',
        1967.0, 111000000000.0]]

df_in_index = [  3024,   3025,   3600,   3601,   4176,   4177,   4752,   4753,
            102900, 102901, 103644, 103645, 104388, 104389, 105132, 105133]

df_in_columns = ['country', 'region', 'variable', 'variable_full', 'time_period',
       'year_measured', 'value']

df_in = pd.DataFrame(df_in_values, index=df_in_index, columns=df_in_columns)

### Check that you replicated the data correctly

In [22]:
df_in.equals(data_subset)

True

## Create expected output, `df_true`

In [23]:
df_out = slice_by_time(df_in, '1963-1967')
df_out

1963-1967                gdp  rural_pop  total_pop  urban_pop
country
Indonesia       5.980840e+09    88701.0   105907.0    17206.0
United Kingdom  1.110000e+11    12293.0    54905.0    42612.0

Check that the function is currently working as expected.

In [24]:
df_in[(df_in.country.isin(['Indonesia', 'United Kingdom'])) & (
    df_in.variable.isin(['total_pop', 'rural_pop', 'gdp', 'urban_pop'])) &
                   (df_in.time_period.isin(['1963-1967']))][['country', 'variable', 'value']]

               country   variable         value
3025         Indonesia  total_pop  1.059070e+05
3601         Indonesia  rural_pop  8.870100e+04
4177         Indonesia  urban_pop  1.720600e+04
4753         Indonesia        gdp  5.980840e+09
102901  United Kingdom  total_pop  5.490500e+04
103645  United Kingdom  rural_pop  1.229300e+04
104389  United Kingdom  urban_pop  4.261200e+04
105133  United Kingdom        gdp  1.110000e+11

Values look correct.

### Print values

In [25]:
df_out.values

array([[5.98084038e+09, 8.87010000e+04, 1.05907000e+05, 1.72060000e+04],
       [1.11000000e+11, 1.22930000e+04, 5.49050000e+04, 4.26120000e+04]])

Because there are values greater than 1000, numpy automatically prints in scientific notation. However, this does not provide the precision necessary to create a Panda's dataframe based on the print statements.

In [26]:
print(df_out.values[0][0])

5980840376.0

Therefore, we need to convert the values to string upon printing via numpy's `np.set_printoptions()` function:

In [27]:
np.set_printoptions(formatter={'all':lambda x: str(x)})

In [28]:
df_out.values

array([[5980840376.0, 88701.0, 105907.0, 17206.0],
       [111000000000.0, 12293.0, 54905.0, 42612.0]])

### Print index

In [29]:
df_out.index

Index(['Indonesia', 'United Kingdom'], dtype='object', name='country')

### Print columns

In [30]:
df_out.columns

Index(['gdp', 'rural_pop', 'total_pop', 'urban_pop'], dtype='object', name='1963-1967')

### Print columns and index name

In [31]:
df_out.columns.name

'1963-1967'

In [32]:
df_out.index.name

'country'

### Copy and paste to create `df_true`

In [33]:
df_true = pd.DataFrame(
    [[5980840376.0, 88701.0, 105907.0, 17206.0],
       [111000000000.0, 12293.0, 54905.0, 42612.0]],
index=['Indonesia', 'United Kingdom'],
columns=['gdp', 'rural_pop', 'total_pop', 'urban_pop'])

df_true.index.name = 'country'
df_true.columns.name = '1963-1967'

### Check that you replicated the data correctly

In [34]:
df_true.equals(df_out)

True

## Create test

Copy and paste code from 3.1.6 and 3.2.5 to create test:

In [35]:
def test_slice_by_time():
    
    # Define input dataframe 
    df_in_values = [['Indonesia', 'World | Asia', 'total_pop',
        'Total population (1000 inhab)', '1958-1962', 1962.0, 92558.0],
       ['Indonesia', 'World | Asia', 'total_pop',
        'Total population (1000 inhab)', '1963-1967', 1967.0, 105907.0],
       ['Indonesia', 'World | Asia', 'rural_pop',
        'Rural population (1000 inhab)', '1958-1962', 1962.0, 78538.0],
       ['Indonesia', 'World | Asia', 'rural_pop',
        'Rural population (1000 inhab)', '1963-1967', 1967.0, 88701.0],
       ['Indonesia', 'World | Asia', 'urban_pop',
        'Urban population (1000 inhab)', '1958-1962', 1962.0, 14020.0],
       ['Indonesia', 'World | Asia', 'urban_pop',
        'Urban population (1000 inhab)', '1963-1967', 1967.0, 17206.0],
       ['Indonesia', 'World | Asia', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1958-1962', np.nan,
        np.nan],
       ['Indonesia', 'World | Asia', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1963-1967',
        1967.0, 5980840376.0],
       ['United Kingdom', 'World | Europe', 'total_pop',
        'Total population (1000 inhab)', '1958-1962', 1962.0, 53147.0],
       ['United Kingdom', 'World | Europe', 'total_pop',
        'Total population (1000 inhab)', '1963-1967', 1967.0, 54905.0],
       ['United Kingdom', 'World | Europe', 'rural_pop',
        'Rural population (1000 inhab)', '1958-1962', 1962.0, 11474.0],
       ['United Kingdom', 'World | Europe', 'rural_pop',
        'Rural population (1000 inhab)', '1963-1967', 1967.0, 12293.0],
       ['United Kingdom', 'World | Europe', 'urban_pop',
        'Urban population (1000 inhab)', '1958-1962', 1962.0, 41673.0],
       ['United Kingdom', 'World | Europe', 'urban_pop',
        'Urban population (1000 inhab)', '1963-1967', 1967.0, 42612.0],
       ['United Kingdom', 'World | Europe', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1958-1962',
        1962.0, 80601939635.0],
       ['United Kingdom', 'World | Europe', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1963-1967',
        1967.0, 111000000000.0]]

    df_in_index = [  3024,   3025,   3600,   3601,   4176,   4177,   4752,   4753,
                102900, 102901, 103644, 103645, 104388, 104389, 105132, 105133]

    df_in_columns = ['country', 'region', 'variable', 'variable_full', 'time_period',
           'year_measured', 'value']

    df_in = pd.DataFrame(df_in_values, index=df_in_index, columns=df_in_columns)
    
    # Define expected output, df_true
    df_true = pd.DataFrame(
    [[5980840376.0, 88701.0, 105907.0, 17206.0],
       [111000000000.0, 12293.0, 54905.0, 42612.0]],
    index=['Indonesia', 'United Kingdom'],
    columns=['gdp', 'rural_pop', 'total_pop', 'urban_pop'])

    df_true.index.name = 'country'
    df_true.columns.name = '1963-1967'
    
   # Compute test output 
    
    df_test = slice_by_time(df_in, '1963-1967')
    
    # Test that the true and test are the same 
    assert df_test.equals(df_true)

## Check test

Run test function. Nothing should happen if `df_test == df_true`.

In [36]:
test_slice_by_time()

# Create test where time slice does not exist

Use the same `df_in` as created in 3.1 but test what should happen if a time period is provided to `slice_by_time()` that does not exist in the data.

## Create expected output, df_true

In [37]:
df_out_empty = slice_by_time(df_in, '2013-2017')
df_out_empty

Empty DataFrame
Columns: []
Index: []

### Print values

In [38]:
df_out_empty.values

array([], shape=(0, 0), dtype=float64)

### Print index

In [39]:
df_out_empty.index

Index([], dtype='object', name='country')

### Print column names

In [40]:
df_out_empty.columns

Index([], dtype='object', name='2013-2017')

### Print column and index names

In [41]:
df_out_empty.columns.name

'2013-2017'

In [42]:
df_out_empty.index.name

'country'

### Copy and paste to create `df_true`

In [43]:
df_true = pd.DataFrame([], index=[],
                       columns=[])

df_true.columns.name = '2013-2017'
df_true.index.name = "country"

### Check that you replicated the data correctly

In [44]:
df_true.equals(df_out_empty)

True

## Create test

In [45]:
def test_slice_by_time_empty():
    
    # Define input dataframe 
    df_in_values = [['Indonesia', 'World | Asia', 'total_pop',
        'Total population (1000 inhab)', '1958-1962', 1962.0, 92558.0],
       ['Indonesia', 'World | Asia', 'total_pop',
        'Total population (1000 inhab)', '1963-1967', 1967.0, 105907.0],
       ['Indonesia', 'World | Asia', 'rural_pop',
        'Rural population (1000 inhab)', '1958-1962', 1962.0, 78538.0],
       ['Indonesia', 'World | Asia', 'rural_pop',
        'Rural population (1000 inhab)', '1963-1967', 1967.0, 88701.0],
       ['Indonesia', 'World | Asia', 'urban_pop',
        'Urban population (1000 inhab)', '1958-1962', 1962.0, 14020.0],
       ['Indonesia', 'World | Asia', 'urban_pop',
        'Urban population (1000 inhab)', '1963-1967', 1967.0, 17206.0],
       ['Indonesia', 'World | Asia', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1958-1962', np.nan,
        np.nan],
       ['Indonesia', 'World | Asia', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1963-1967',
        1967.0, 5980840376.0],
       ['United Kingdom', 'World | Europe', 'total_pop',
        'Total population (1000 inhab)', '1958-1962', 1962.0, 53147.0],
       ['United Kingdom', 'World | Europe', 'total_pop',
        'Total population (1000 inhab)', '1963-1967', 1967.0, 54905.0],
       ['United Kingdom', 'World | Europe', 'rural_pop',
        'Rural population (1000 inhab)', '1958-1962', 1962.0, 11474.0],
       ['United Kingdom', 'World | Europe', 'rural_pop',
        'Rural population (1000 inhab)', '1963-1967', 1967.0, 12293.0],
       ['United Kingdom', 'World | Europe', 'urban_pop',
        'Urban population (1000 inhab)', '1958-1962', 1962.0, 41673.0],
       ['United Kingdom', 'World | Europe', 'urban_pop',
        'Urban population (1000 inhab)', '1963-1967', 1967.0, 42612.0],
       ['United Kingdom', 'World | Europe', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1958-1962',
        1962.0, 80601939635.0],
       ['United Kingdom', 'World | Europe', 'gdp',
        'Gross Domestic Product (GDP) (current US$)', '1963-1967',
        1967.0, 111000000000.0]]

    df_in_index = [  3024,   3025,   3600,   3601,   4176,   4177,   4752,   4753,
                102900, 102901, 103644, 103645, 104388, 104389, 105132, 105133]

    df_in_columns = ['country', 'region', 'variable', 'variable_full', 'time_period',
           'year_measured', 'value']

    df_in = pd.DataFrame(df_in_values, index=df_in_index, columns=df_in_columns)
    
    # Define expected output, df_true
    df_true = pd.DataFrame([], index=[],
                       columns=[])

    df_true.columns.name = '2013-2017'
    df_true.index.name = "country"

    # Compute test output 
    
    df_test = slice_by_time(df_in, '2013-2017')
    
    # Test that the true and test are the same 
    assert df_test.equals(df_true)

## Check test

In [46]:
test_slice_by_time_empty()

# Create unit test for when dataframe is not provided

If a dataframe is not provided, we expect the function to raise a `TypeError`

In [47]:
def test_slice_by_time_non_df():
    
    df_in = 'I am not a dataframe'
    
    with pytest.raises(TypeError):
        slice_by_time(df_in, '2013-2017')

## Check test

If the function does raise a TypeError, it should not do anything.

In [48]:
test_slice_by_time_non_df()

# Now move your function and your tests to appropriate Python modules